Question1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [6]:
def symm_num(num):
    s1 = str(num)
    s2 = s1[::-1]
    if s1 == s2:
        print(True)
    else:
        print(False)

In [10]:
symm_num(7277)

False

In [9]:
symm_num(1112111)

True

Question2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [13]:
def pod_str_num(n):
    l1 = n.split(", ")
    prod = 1
    for i in l1:
        prod *= int(i)
    return prod

In [14]:
pod_str_num("54, 75, 453, 0")

0

In [15]:
pod_str_num("10, -2")

-20

Question3
Create a function that squares every digit of a number.

In [18]:
def squ_digit_num(num):
    s1 = str(num)
    s2 = ""
    for i in s1:
        s2 += str(int(i)**2)
    num1 = int(s2)
    return num1

In [19]:
squ_digit_num(2483)

416649

In [20]:
squ_digit_num(3212)

9414

Question4
Create a function that sorts a list and removes all duplicate items from it.

In [26]:
def setify(l):
    s = set(l)
    l1 = sorted(list(s))
    return l1

In [28]:
setify([8,9,5,5,7,4,6,5,1,2])

[1, 2, 4, 5, 6, 7, 8, 9]

Question 5
Create a function that returns the mean of all digits.

In [30]:
def mean_digit_num(num):
    s1 = str(num)
    l = len(s1)
    sum = 0
    for i in s1:
        sum += int(i)
    mean = sum // l
    return mean

In [31]:
mean_digit_num(324676)

4

In [32]:
mean_digit_num(12345)

3